@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px blue;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to osr sheets */
.osr {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Osr (can be removed if not needed) */
}
.osr .item-form {
  font-family: "Roboto", sans-serif;
}
.osr .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.osr .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.osr .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.osr .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.osr .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.osr .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.osr .sheet-body,
.osr .sheet-body .tab,
.osr .sheet-body .tab .editor {
  height: 100%;
}
.osr .tox .tox-editor-container {
  background: #fff;
}
.osr .tox .tox-edit-area {
  padding: 0 8px;
}
.osr .resource-label {
  font-weight: bold;
}
.osr .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.osr .items-header > * {
  font-size: 14px;
  text-align: center;
}
.osr .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.osr .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.osr .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.osr .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.osr .wide {
  min-width: 15rem;
}
.osr .items-list .item-name h3,
.osr .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.osr .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.osr .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.osr .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.osr .items-list .item:last-child {
  border-bottom: none;
}
.osr .items-list .item .item-name {
  color: #191813;
}
.osr .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.osr .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.osr .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.osr .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.osr .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.osr .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}
.osr .effects .item .effect-source,
.osr .effects .item .effect-duration,
.osr .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.osr .effects .item .effect-controls {
  border: none;
}


.system-osr {
  --modesto: "Modesto Condensed", "Palatino Linotype", serif;
  --signika: "Signika", sans-serif;
  --primary-font:	rgba(0, 0, 0, .9);
  --background:	rgba(236,233,223,1);
  --faintest-color:	rgba(0,0,0,.05);
  --faint-color:	rgba(0,0,0,.1);
  --light-color:	rgba(0, 0, 0, .25);
  --primary-color:	rgba(0,0,0,.9);
  --secondary-color:	rgba(0,0,0,.65);
  --tertiary-color:	rgba(0,0,0,.4);
  --primary-accent:	rgba(255,100,0,1);
  --white:	rgba(255,255,255,1);
  --faint-white:	rgba(255,255,255,.2);
  --linked-accent:	rgba(0,255,0,.75);
  --unlinked-accent:	rgba(255,0,0,.75);
  --linked-light:	rgba(0,255,0,.4);
  --unlinked-light:	rgba(255,0,0,.4);
  --safe-accent:	rgba(0,150,100,.6);
  --unsafe-accent:	rgba(255,0,0,.6);
  --header-background:	rgba(255, 255, 255, .2);
  --header-border:	rgba(0, 0, 0, .25);
  --stat-font:	rgba(236, 233, 223, 1);
  --prepareable:	rgba(119,136,153,1);
  --prepared:	rgba(50,205,50,.3);
  --prepared-outline:	rgba(50,205,50,1);
  --prepared-accent:	rgba(173,255,47,1);
  --always-prepared:	rgba(0,0,255,.15);
  --always-prepared-outline:	rgba(65,105,225,1);
  --always-prepared-accent:	rgba(0,191,255,1);
  --magic-accent:	rgba(255,255,0,1);
  --faint-magic-accent:	rgba(255,255,0,.6);
  --magic-outline:	rgba(175,255,47,1);
  --attunement-required:	rgba(205,92,92,1);
  --icon-attuned:	rgba(0,0,0,.4);
  --xp-bar:	rgba(94,225,146,1);
  --encumbrance-bar:	rgba(108,138,165,1);
  --encumbrance-bar-outline: rgba(205, 228, 255, 1);
  --encumbrance-outline: rgba(0, 0, 0, .9);
  --warning-accent:	rgba(255, 0, 0, .6);
  --icon-background: rgba(236, 233, 223, 1);
  --icon-shadow: rgba(0, 0, 0, .4);
  --icon-outline: rgba(0, 0, 0, .4);
  --icon-font: rgba(0, 0, 0, .4);
  --exhaustion-font: rgba(0, 0, 0, .4);
  --icon-hover: rgba(0, 0, 0, .9);
  --pc-border: 0px;
  --npc-border: 0px;
  --vehicle-border: 0px;
  --note-background: rgba(0,0,0,.9);
  --exhaustion-lvl1: rgba(255, 230, 0, 1);
  --exhaustion-lvl2: rgba(255, 130, 0, 1);
  --exhaustion-lvl3: rgba(255, 50, 0, 1);
  --ability-accent: darkslategrey;
  --context-outline: rgba(0, 0, 0, .4);
  --context-shadow: rgba(0,0,0,.65);
  --check-default: url("../images/check-dark-unchecked.svg");
  --check-checked: url("../images/check-dark-checked.svg");
  --checkbox-font: rgba(0, 0, 0, .9);
  --checkbox-outline: rgba(150, 150, 150, 1);
  --checkbox-unchecked: #D8D7D1;
  --checkbox-checked: rgba(0, 255, 0, 0.3);
}

ul,
ol {
  padding: 0 0 0 .1em;
}

.osr.sheet.actor .ability-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-radius: 0;
  list-style: none;
}
.osr.sheet.actor .ability-scores .ability {
  padding-bottom: 0;
  border-left: 1px solid var(--faint-color);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 61px;
          flex: 1 0 61px;
  padding-left: 0;
  position: relative;
  margin-left: 0px;
}
.osr.sheet.actor .ability-scores .ability .wrapper {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  margin: 0 auto;
}
.osr.sheet.actor .ability-scores .ability .ability-name {
  position: relative;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
}
.osr.sheet.actor .ability-scores .ability .ability-name::after {
  display: block;
  content: "";
  height: 0;
  width: 60%;
  border-bottom: 1px solid var(--faint-color);
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.osr.sheet.actor .ability-scores .ability .ability-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1px;
}
.osr.sheet.actor .ability-scores .ability .ability-score {
  font-size: 24px;
  margin: 2px 0 3px 0;
  padding: 2px 0 0 0;
  text-align: center;
  font-family: var(--modesto);
  font-weight: 700;
  height: 23px;
}
.osr.sheet.actor .ability-scores .ability .ability-score:hover + .ability-modifiers {
  visibility: visible;
}
.osr.sheet.actor .ability-scores .ability .ability-modifiers {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 0;
  opacity: initial;
  font-size: 10px;
  -webkit-box-shadow: 0 0 0 1px var(--tertiary-color);
          box-shadow: 0 0 0 1px var(--tertiary-color);
  border-radius: 5px;
}
.osr.sheet.actor .ability-scores .ability .ability-modifiers:hover {
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 1px var(--note-background);
          box-shadow: 0 0 0 1px var(--note-background);
  z-index: 10;
}
.osr.sheet.actor .ability-scores .ability .ability-modifiers:hover ~ .mod-label {
  display: block;
  z-index: 5;
}
.osr.sheet.actor .ability-scores .ability .ability-modifiers:hover .ability-mod {
  border-radius: 0;
}
.osr.sheet.actor .ability-scores .ability .mod-label {
  position: absolute;
  top: 47px;
  display: none;
  background: var(--note-background);
  color: #fff;
  font-size: 10px;
  height: 17px;
  padding: 3px 4px 2px 4px;
  white-space: nowrap;
}
.osr.sheet.actor .ability-scores .ability .mod-label.ability-mod-label {
  right: 25px;
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
  border-radius: 5px 0 0 5px;
}
.osr.sheet.actor .ability-scores .ability .mod-label.save-mod-label {
  left: 25px;
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  border-radius: 0 5px 5px 0;
}
.osr.sheet.actor .ability-scores .ability .ability-mod,
.osr.sheet.actor .ability-scores .ability .ability-save {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 12px;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.osr.sheet.actor .ability-scores .ability .ability-mod {
  background: var(--ability-accent);
  color: #fff;
  border-radius: 5px 0 0 5px;
}
.osr.sheet.actor .ability-scores .ability .ability-mod:hover,
.osr.sheet.actor .ability-scores .ability .ability-save:hover {
  background: var(--primary-accent);
  color: #fff;
}
.osr.sheet.actor .ability-scores .ability .proficiency-toggle {
  position: absolute;
  font-size: 10px;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  left: calc(50% - 12px);
  bottom: -14px;
}
.osr.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
  line-height: 10px;
}
.osr.sheet.actor .ability-scores .ability:hover .ability-mod, .osr.sheet.actor .ability-scores .ability:hover .ability-save {
  opacity: 1;
  text-shadow: none;
}
.osr.sheet.actor .ability-scores .ability:hover .proficiency-toggle {
  opacity: 1;
}
.osr.sheet.actor .ability-scores .ability .config-button {
  position: absolute;
  bottom: -11px;
  right: calc(50% - 12px);
  font-size: 10px;
  color: var(--tertiary-color);
}
.osr.sheet.actor .ability-scores .ability .config-button:hover {
  color: var(--primary-color);
}